/* roboto */
/* 


font-family: 'Roboto', sans-serif;

*/

/* :root{ */
    /* var(--w-colonna) */
    /* --w-colonna: 130px; */
    
/* } */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px;
}
button{
    height: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 90vh;

}
:root{
    /* var(--w-campo) */
    --w-campo: 600px;
    
}
.campo{
    width: var(--w-campo);
    display: flex;
    flex-wrap: wrap;
}

:root{
    /* var(--w-cella) */
    --w-cella: calc(var(--w-campo) / 10);
    
}
.cella{
    width: var(--w-cella);
    height: var(--w-cella);
    /* background-color: brown; */
    border: 1px solid black;
}


.clicked{
    background-color: aqua;
}


